image: node:24

variables:
  YARN_ENABLE_IMMUTABLE_INSTALLS: "false"

cache:
  paths:
    - .yarn/cache/
    - frontend/.yarn/cache/

before_script:
  - corepack enable
  - cd frontend
  - yarn install

pages:
  stage: deploy
  script:
    - yarn build
    - cp build/index.html build/404.html
    - mkdir ../public
    - cp -r build/* ../public/
  artifacts:
    paths:
      - public
  only:
    - main
