image: node:22.21.0

pages:
  before_script:
    - corepack enable
    - corepack prepare yarn@4.10.3 --activate
  script:
    - cd frontend
    - yarn install
    - yarn build
    - cp -r dist ../public
  artifacts:
    paths:
      - public
  only:
    - main
