image: node:22.21.0-bullseye

pages:
  before_script:
    - corepack enable
    - corepack prepare yarn@4.10.3 --activate
  script:
    - cd appmate-app/frontend
    - node --version
    - yarn --version
    - ls -la
    - yarn install --immutable --verbose
    - yarn build --verbose
    - cp dist/index.html dist/404.html
    - cp -r dist ../../public
  artifacts:
    paths:
      - public
  only:
    - main
