image: node:24

variables:
  YARN_ENABLE_IMMUTABLE_INSTALLS: "true"

stages:
  - build
  - test
  - deploy
  - dast

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Jobs/SAST.gitlab-ci.yml
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - template: Security/DAST.gitlab-ci.yml

cache:
  paths:
    - frontend/node_modules

before_script:
  - corepack enable
  - cd frontend
  - yarn install

pages:
  stage: deploy
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - mkdir ../public
    - cp -r dist/* ../public/
  artifacts:
    paths:
      - public
  only:
    - main
