image: node:latest

stages:
  - build
  - deploy

build_frontend:
  stage: build
  before_script:
    - cd appmate-app/frontend
  script:
    - yarn install
    - yarn build
  artifacts:
    paths:
      - appmate-app/frontend/build
    expire_in: 1 week

pages:
  stage: deploy
  dependencies:
    - build_frontend
  script:
    - mv appmate-app/frontend/build temp_public
    - cp temp_public/index.html temp_public/404.html
    - mv temp_public public

  artifacts:
    paths:
      - public
  only:
    - main
