variables:
  YARN_ENABLE_IMMUTABLE_INSTALLS: "true"

cache:
  key: frontend-yarn
  paths:
    - frontend/node_modules

pages:
  stage: deploy
  image: node:24
  before_script:
    - corepack enable
    - cd frontend
    - yarn install
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - mkdir ../public
    - cp -r dist/* ../public/
  artifacts:
    paths:
      - public
  only:
    - main
