variables:
  YARN_ENABLE_IMMUTABLE_INSTALLS: "true"

stages:
  - test
  - deploy
  - dast

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Jobs/SAST.gitlab-ci.yml
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - template: DAST.gitlab-ci.yml

dependency_scanning:
  variables:
    DS_DEFAULT_ANALYZERS: "npm"
    DS_PACKAGE_MANAGER: "yarn"
    DS_PROJECT_PATH: "frontend"

cache:
  key: frontend-yarn
  paths:
    - frontend/node_modules

pages:
  stage: deploy
  image: node:24
  before_script:
    - corepack enable
    - cd frontend
    - yarn install
  script:
    - yarn build
    - cp dist/index.html dist/404.html
    - mkdir ../public
    - cp -r dist/* ../public/
  artifacts:
    paths:
      - public
  only:
    - main
