image: node:20

pages:
  cache:
    paths:
      - frontend/node_modules/
  script:
    - yarn install
    - yarn build
    - cp -r dist public
  artifacts:
    paths:
      - public
  only:
    - main
