services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"

    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
      - /frontend/.yarn
