.landingHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1a1a1acc;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  transition: 0.3s ease-out;
}

.logoContainer {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0 0.6rem;
}

.logoContainer p {
  color: #fff;
  font-size: 1.5rem;
}

.landingNav {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.startBtn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.landingNav ul {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .logoContainer p {
    display: none;
  }
}
