footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000050;
  padding: 10rem 0;
}

.footerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.footerNav ul {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.socialIcon {
  color: var(--color-light-grey);
}

.dateContainer {
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
  color: var(--color-light-grey);
}
