@import "tailwindcss";

@theme {
  --color-accent: #14b8a6;
  --color-dark-primary: #1a1a1a;
  --color-dark-secondary: #2b2b2b;
  --color-amber: #d97706;
  --color-green: #16a34a;
  --color-red: #dc2626;
  --color-light-grey: #6f6f6f;

  --animate-fadeIn: fadeIn 0.2s ease-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

html {
  overscroll-behavior: none;
}

body {
  background: var(--color-dark-primary);
  font-family: Manrope, sans-serif;
  color: #fff;
}
