@import "tailwindcss";

@theme {
  --color-accent: #14b8a6;
  --color-dark-primary: #1a1a1a;
  --color-dark-secondary: #2b2b2b;
  --color-amber: #d97706;
  --color-green: #16a34a;
  --color-red: #dc2626;
  --color-light-grey: #6f6f6f;
  --inset-shadow-left: inset 2px 0 0 0 var(--color-accent);

  --animate-fadeIn: fadeIn 0.2s ease-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

html {
  overscroll-behavior: none;
}

body {
  background: var(--color-dark-primary);
  font-family: system-ui, sans-serif;
  color: #fff;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.3);
}
