@import "tailwindcss";

@theme {
  --color-accent: #14b8a6;
  --color-dark-primary: #1a1a1a;
  --color-dark-secondary: #2b2b2b;
  --color-amber: #d97706;
  --color-green: #16a34a;
  --color-red: #dc2626;
  --color-light-grey: #6f6f6f;

  --animate-fadeIn: fadeIn 0.2s ease-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

html {
  overscroll-behavior: none;
}

body {
  background: var(--color-dark-primary);
  font-family: Manrope, sans-serif;
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:enabled,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:enabled,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:enabled,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-light-grey);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-dark-primary) inset;
  box-shadow: 0 0 0px 1000px var(--color-dark-primary) inset;
  background-color: var(--color-dark-primary);
}

.logo:hover {
  color: var(--color-accent);
  transition: 0.2s ease-in-out;
}
